<header>
    <div class="login-logo">
        <div class="head-logo">
            <a th:href="@{/}"><img id="logo" class="logo" th:src="@{images/spirelogo.png}"></a>
            <h1 class="title">Soteria</h1>
        </div>
        <a class="loginBtn" href="#">Sign in</a>
        <i class="fa fa-sign-out"></i>
    </div>

    <div class="nav-btns">
        <div class="subnav">
            <button class="subnavbtn"> Your stats<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <div class="subnavbtn">
                    <a th:href="@{/profile/{membershipType}/{membershipId}}" class="subnavbtn">Profile</a>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Endgame stats<i class="fa fa-caret-down"></i></button>
                    <div class="sub-subnav-content">
                        <li><a href="#">Raid stats</a></li>
                        <li><a href="#">Dungeon stats</a></li>
                    </div>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Vendor stats</button>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Playlist stats<i class="fa fa-caret-down"></i></button>
                    <div class="sub-subnav-content">
                        <li><a href="#">Vanguard stats</a></li>
                        <li><a href="#">Crucible stats</a></li>
                        <li><a href="#">Gambit stats</a></li>
                    </div>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Bounties</button>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Power</button>
                </div>
                <div class="subnavbtn">
                    <button class="subnavbtn">Weapons</button>
                </div>
            </div>

        </div>
        <div class="subnavbtn">
            <button class="subnavbtn-community">Community</button>
        </div>
        <div class="subnavbtn">
            <button class="subnavbtn-progression">Progression</button>
        </div>
    </div>
</header>