<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soteria</title>
    <link rel="stylesheet" th:href="@{/images/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/images/scrollNavbar.js}"></script>
</head>
<body onload="parseProfileData()">

    <header th:replace="header :: header"></header>

    <h1>User profile</h1>
    <p> Welcome <span th:text="${displayName}"></span></p>
    <div th:text="${profileData}"></div>
</body>
</html>