<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soteria</title>
    <link rel="stylesheet" th:href="@{/images/style.css}">
    <link rel="stylesheet" th:href="@{/images/profile.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/images/scrollNavbar.js}"></script>
</head>
<body onload="parseProfileData()">

    <header th:replace="header :: header"></header>

    <h1>User profile</h1>
    <p> Welcome <span th:text="${displayName + '#' + bungieGlobalDisplayNameCode}"></span></p>

    <div class="container-group">
        <div>
            <h2>Characters:</h2>
            <div th:each="character : ${characters}">
                <a th:href="@{'/profile/' + ${character.get('membershipType').asText()} + '/' + ${character.get('membershipId').asText()} + '/' + ${character.get('characterId').asText()}}">
                    <div class="character-emblem">
                        <img class="user-banner" th:src="@{'https://www.bungie.net' + ${character.get('emblemBackgroundPath').asText()}}" alt="Character Emblem">
                        <div class="power-level" style="font-family: Geneva, Verdana, sans-serif; font-weight: bold;" th:text="${character.get('light').asText()}"></div>
                        <div class="type-character">
                            <div class="class-name">
                                <span th:switch="${character.get('classType').asText()}">
                                    <span th:case="'2'">Warlock</span>
                                    <span th:case="'0'">Titan</span>
                                    <span th:case="'1'">Hunter</span>
                                </span>
                            </div>
                            <div class="race-name">
                                <span th:switch="${character.get('raceType').asText()}">
                                    <span th:case="'1'">Awoken</span>
                                    <span th:case="'2'">Exo</span>
                                    <span th:case="'0'">Human</span>
                                </span>
                            </div>
                            <div class="character-level">
                                <span th:text="${character.get('levelProgression').get('level').asInt()}"></span>
                            </div>
                        </div>
                        <div class="time-played">
                            <span th:text="${character.get('minutesPlayedTotal').asInt()/60}+ 'h ' + ${character.get('minutesPlayedTotal').asInt()%60} + 'min'"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <p><span th:text="${currentGuardianRank}"></span></p>
            <p><span th:text="${lifetimeHighestGuardianRank}"></span></p>
            <p><span th:text="${renewedGuardianRank}"></span></p>
        </div>
        <div>
            <p>Current triumph score: <span th:text="${currentTriumphScore}"></span></p>
            <p>Legacy triumph score: <span th:text="${legacyTriumphScore}"></span></p>
            <p>Total triumph score: <span th:text="${totalTriumphScore}"></span></p>
        </div>

    <div th:text="${characters}"></div>
    <div th:text="${profileData}"></div>
</body>
</html>